---
# tasks file for backups
- name: Install borgbackup and nfs utilities - AlmaLinux
  ansible.builtin.dnf:
    name: 
      - nfs-utils
      - nfs4-acl-tools
      - borgbackup
    state: latest
    enablerepo: powertools
  when: ansible_distribution == 'AlmaLinux'

- name: Install backup script
  ansible.builtin.copy:
    src: backup_script.sh
    dest: /jobs/backup_script.sh
    owner: root
    group: root
    mode: 0700

- name: Install backup exclusions file
  ansible.builtin.copy:
    src: backup_excludes-{{ ansible_hostname }}
    dest: /jobs/backup_excludes
    owner: root
    group: root
    mode: 0600

- name: Setup Cron job for running backup
  ansible.builtin.cron:
    minute: 0
    hour: 19
    job: "/jobs/backup_script.sh > /tmp/backup.tmp 2>&1"
    cron_file: 'backup_server'
    user: root
    name: backup_server
