---
# tasks file for lego-ssl
- name: Download lego tarball
  ansible.builtin.get_url:
    url: '{{ lego_dl_url }}'
    dest: '/tmp/lego.tar.gz'
    force: true
  register: get_url_lego

- name: Extract the lego binary
  ansible.builtin.shell: "tar xvf {{ get_url_lego.dest }} lego"
  args:
    chdir: /tmp

- name: Create the certificates directory
  ansible.builtin.file:
    path: /srv/certs
    state: directory
    owner: root
    group: root
    mode: 0755

- name: Install the lego binary
  ansible.builtin.shell: "cp /tmp/lego /srv/certs/lego"

- name: Ensure permissions on lego binary are correct
  ansible.builtin.file:
    path: /srv/certs/lego
    mode: 0755
    owner: root
    group: root

- name: Install Certificate issue script
  ansible.builtin.copy:
    src: issue.sh-{{ ansible_hostname }}
    dest: /srv/certs/issue.sh
    owner: root
    group: root
    mode: 0755

- name: Issue certificate
  ansible.builtin.command: "/srv/certs/issue.sh"
  args:
    chdir: /srv/certs
    creates: /srv/certs/.lego/certificates