---
# tasks file for ohmyzsh
- name: Check if .zshrc exists
  ansible.builtin.stat:
    path: /home/jeremy/.zshrc
  register: stat_rc_result

- name: Check if .oh-my-zsh exists
  ansible.builtin.stat:
    path: /home/jeremy/.oh-my-zsh
  register: stat_oh_my_zsh_result

- name: Cloning oh-my-zsh
  ansible.builtin.git:
    repo: https://github.com/robbyrussell/oh-my-zsh
    dest: /home/jeremy/.oh-my-zsh
  when: not stat_oh_my_zsh_result.stat.exists

- name: Setting ownership of .oh-my-zsh
  ansible.builtin.file:
    path: /home/jeremy/.oh-my-zsh
    state: directory
    owner: jeremy
    group: jeremy
    recurse: yes

- name: Creating new .zshrc
  ansible.builtin.copy:
    src: /home/jeremy/.oh-my-zsh/templates/zshrc.zsh-template
    dest: /home/jeremy/.zshrc
    remote_src: yes
    owner: jeremy
    group: jeremy
    mode: 0644
  when: not stat_rc_result.stat.exists