---
# tasks file for disable-ipv6
- name: Disable ipv6 on ens18 interface
  ansible.posix.sysctl:
    name: net.ipv6.conf.ens18.disable_ipv6
    value: 1
    state: present
    sysctl_file: /etc/sysctl.d/97-ipv6-disable.conf
    sysctl_set: yes
    reload: yes