---
# tasks file for disable-ipv6
- name: Disable ipv6 autoconf on ens18 interface
  ansible.posix.sysctl:
    name: net.ipv6.conf.ens18.autoconf
    value: 0
    state: absent
    sysctl_file: /etc/sysctl.d/97-ipv6-autoconf.conf
    sysctl_set: yes
    reload: yes

- name: Disable ipv6 RA acceptance
  ansible.posix.sysctl:
    name: net.ipv6.conf.ens18.accept_ra
    value: 0
    state: absent
    sysctl_file: /etc/sysctl.d/97-ipv6-accept-ra.conf
    sysctl_set: yes
    reload: yes

- name: Disable ipv6 on ens18 interface
  ansible.posix.sysctl:
    name: net.ipv6.conf.ens18.disable_ipv6
    value: 1
    state: present
    sysctl_file: /etc/sysctl.d/97-ipv6-autoconf.conf
    sysctl_set: yes
    reload: yes