---
# tasks file for plex-mounts
- name: Install NFS Utilities
  ansible.builtin.dnf:
    name: "nfs-utils"
    state: latest
  when: ansible_distribution == 'AlmaLinux'

- name: Mount NFS Storage from Unraid
  ansible.posix.mount:
    path: /storage/media
    src: 172.17.20.11:/mnt/user/media
    fstype: nfs
    opts: auto,nofail,noatime,nolock,intr,tcp,actimeo=1800
    state: mounted

- name: Mount tmpfs ramdrive
  ansible.posix.mount:
    path: /mnt/ramdisk
    src: tmpfs
    fstype: tmpfs
    opts: nodev,nosuid,noexec,nodiratime,size=2048M
    state: mounted