---
# Playbook to install and configure Oh My Zsh for the local user
- hosts: localhost
  connection: local
  become: true
  vars:
    local_user: "{{ ansible_env.SUDO_USER }}"
  tasks:
    - name: Ensure zsh is installed
      ansible.builtin.apt:
        name: zsh
        state: present

    - name: Ensure {{ local_user }} uses zsh
      ansible.builtin.user:
        name: "{{ local_user }}"
        shell: /usr/bin/zsh

    - name: OhMyZSH - check if .zshrc exists
      ansible.builtin.stat:
        path: /home/{{ local_user }}/.zshrc
      register: stat_rc_result

    - name: OhMyZSH - check if .oh-my-zsh exists
      ansible.builtin.stat:
        path: /home/{{ local_user }}/.oh-my-zsh
      register: stat_oh_my_zsh_result

    - name: OhMyZSH - cloning repo
      ansible.builtin.git:
        repo: https://github.com/ohmyzsh/ohmyzsh
        dest: /home/{{ local_user }}/.oh-my-zsh
      when: not stat_oh_my_zsh_result.stat.exists

    - name: OhMyZSH - creating new .zshrc
      ansible.builtin.copy:
        src: /home/{{ local_user }}/.oh-my-zsh/templates/zshrc.zsh-template
        dest: /home/{{ local_user }}/.zshrc
        remote_src: yes
        owner: "{{ local_user }}"
        group: "{{ local_user }}"
        mode: 0644
      when: not stat_rc_result.stat.exists

    - name: Create custom OMZ theme file for {{ local_user }}
      ansible.builtin.copy:
        dest: "/home/{{ local_user }}/.oh-my-zsh/custom/theme.zsh"
        content: "ZSH_THEME=agnoster\n"
        owner: "{{ local_user }}"
        group: "{{ local_user }}"
        mode: '0644'
