- name: Install standard packages
  hosts: local
  connection: local
  become: true
  tasks:
    - name: Ensure standard packages are installed
      ansible.builtin.apt:
        name:
          - curl
          - wget
          - htop
        state: present
