# Playbook to install and configure Vim locally
- name: Install and configure Vim
  hosts: local
  connection: local
  become: true
  tasks:
    - name: Ensure Vim is installed
      ansible.builtin.apt:
        name: vim
        state: present
        update_cache: true
        cache_valid_time: 3600
      tags: ['pkg', 'vim']

    - name: Ensure vim disables mouse in vimrc.local
      ansible.builtin.lineinfile:
        path: /etc/vim/vimrc.local
        line: set mouse-=a
        create: true
        state: present
        mode: "0644"
