---
# tasks file for nagios-plugins
- name: Install nagios-plugins-all - AlmaLinux
  ansible.builtin.dnf:
    name: "nagios-plugins-all"
    state: latest
    enablerepo: "powertools"
  when: ansible_distribution == 'AlmaLinux'

- name: Install bc package needed for check_chrony.sh - AlmaLinux
  ansible.builtin.dnf:
    name: "bc"
    state: latest
  when: ansible_distribution == 'AlmaLinux'

- name: Install check_chrony.sh file
  ansible.builtin.copy:
    src: check_chrony.sh
    dest: /usr/lib64/nagios/plugins
    owner: root
    group: root
    mode: 0755

- name: Create group for user nagcheck
  ansible.builtin.group:
    name: nagcheck
    state: present
    gid: 1002

- name: Create user nagcheck
  ansible.builtin.user:
    name: nagcheck
    group: nagcheck
    shell: /bin/bash
    create_home: yes
    password_lock: yes
    uid: 1002

- name: Install WSL key for user nagcheck
  ansible.posix.authorized_key:
    user: nagcheck
    state: present
    key: "{{ lookup('file', 'files/nagios-pubkey') }}"